body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
    color: #ff4c4c;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ff4c4c;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9999;
}

.contenido {
    margin: 40px auto;
    width: 70%;
    background: #333;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 76, 76, 0.5);
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Estilos para los enlaces de contacto */
.contenido a {
    color: #ff4c4c;
    font-weight: bold;
    text-decoration: none;
}

.contenido a:hover {
    color: #ff9999;
    text-decoration: underline;
}

/* Estilos específicos para formularios */
form {
    background: #444;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    width: 60%;
}

form label, form input, form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input, form select, form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #ff4c4c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: #ff9999;
}
.listas-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
}

.listas-container ul, .listas-container ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    text-align: left;
}
